[Desktop Entry]
Name=Obelisk
Comment=Manage and launch Minecraft instances
Exec=obelisk
Icon=io.github.irelandqlan.Obelisk
Terminal=false
Type=Application
Categories=Game;
StartupNotify=true
DBusActivatable=false
X-GNOME-UsesNotifications=true
